<!DOCTYPE html>
<html>
<head>
  <title>List All Geocaches</title>
</head>
<body>
  <h1>List All Geocache Locations</h1>
  <form action="/listPoints" method="POST">
    <button type="submit">List Locations</button>
  </form>
  <br>
  <a href="/">HOME</a>
</body>
</html>
